h2 {
    font-size : 24px;
    margin: 30px;
    margin-bottom: 10px;
}
.scroll-printer{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.scroll-btn{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
    background-color: inherit;
    margin-right:20px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card-printer{
    display: inline-block;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 30px 36px;
    margin-right: 25px;
}
.img-printer-container{
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.card-printer img {
    border: none;
}

.name-printer{
    text-align: center;
    font-size: 30px;
    font-weight: 600;

}

.btn-area {
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14vw;
    padding-top: 10px;
}

.btn-area button{
    padding: 3px 20px;
    font-size: 25px;
}
.info-printer{
    display: flex;
    flex-direction: row;
    margin-left: 130px;
    border: solid;
    margin-right: 155px;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 30px;

}
.info-printer-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size:28px;
    justify-content: space-between;
    width: 50vw;
    margin-left: 5vw
}
.info-printer-text-1{
    display: flex;
    flex-direction: column;

}